.container
{
    height: 80%;
    width: 90%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 68px -6px rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "schedule";
    justify-content: space-between;
    border-radius: 10px;
}
.shifts
{
    margin: 1%;
    grid-area: schedule;
}
.shifts h1
{
    background-color: #e9edf2;
    color: #3480eb;
    font-size: 3rem;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}
.shift
{
    margin: 2%;
    padding: 1% 3%;
    border-radius: 3px;
    background-color: #4d5157;
    font-size: 2rem;
}
.shift span
{
    color: white;
}
.shift .date
{
    float: right;
}

.schedule-preference
{
    grid-area: preference;
    margin: 5%;
    background-color: white;
}

.schedule-preference h2
{
    margin: 2% 5%;
}

.schedule-preference .DateToChoose
{
    margin: 5%;
}
.DateToChoose div{
    width: 100%;
    padding: 3px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=date]
{
    width: 100%;
    padding: 3px 5px;
    margin: 8px 0;
    display: inline-block;
    background-color: #3480eb;
    color: white;
}

input[type=submit]
{
    width: 100%;
    padding: 3px 5px;
    margin: 8px 0;
    display: inline-block;
    background-color: #3480eb;
    color: white;
}

@media (max-width: 950px)
{
    .container
    {
        top: 130;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1f4;
        grid-template-areas:
        "schedule"
        "preference";
    }
}
